allow perm=open dir=/usr/lib/jvm/ : dir=/var/lib/pki/pki-tomcat/work/Catalina/localhost/   
allow perm=open  exe=/usr/libexec/platform-python3.6 : all ftype=text/x-python trust=0